* {
    --text-primary: #a7a7a7;
    --text-primary-selected: #fff;
    --main-background: #1f1f1f;
    --main-background-border: #181818;
    --main-hover: #a8a8a822;
    --border-selected: #145282;
    --border: #242424;
    --linedown-color: #585858;
}

body {
    margin: 0px;
    font-family: Roboto;
    font-size: 13px;
    background-color: var(--main-background);
    height: 100%;
    color: var(--text-primary);
}

.sideMenu {
    background-color: var(--main-background-border);
    height: 100%;
    width: 160px;
    padding: 20px;
}

.sideMenu .item {
    display: flex;
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
}

.sideMenu .item:hover {
    background-color: var(--main-hover);
}

.sideMenu .item p {
    margin: 0px;
    margin-left: 5px;
    width: 100%;
}

.sideMenu .item svg,
.sideMenu .item img {
    width: 17px;
    height: 17px;
    transition: transform 120ms ease-in-out;
}

.sideMenu .itemParent.active > .item > svg {
    transform: rotate(90deg);
}
.sideMenu .itemParent.active > .itemSubContent {
    visibility: visible;
    height: auto;
}

.sideMenu .itemSubContent {
    margin-left: 7px;
    width: 100%;
    border-left: 1px solid var(--linedown-color);
    visibility: hidden;
    height: 0px;
    margin-top: -5px;
}

.sideMenu .itemSubContent .item img {
    margin-left: 13px;
}
