* {
    --text-primary: #a7a7a7;
    --text-primary-selected: #fff;
    --main-background: #1f1f1f;
    --main-background-border: #181818;
    --main-hover: #a8a8a822;
    --border-selected: #145282;
    --border: #242424;
    --linedown-color: #585858;
    --selectedItem: #03395e;
    --selectedItemBorder: #036cbc;

    --terminal-error: #4b2f36;
    --terminal-error-border: #743e4c;
    --terminal-error-icon: #ff3b6b;

    --terminal-warning: #42381f;
    --terminal-warning-border: #56562e;
    --terminal-warning-icon: #d7b600;
}

.swal2-popup.swal2-toast {
    box-shadow: 0 0 0.625em var(--main-background-border) !important;
}

body {
    margin: 0px;
    font-family: Roboto;
    font-size: 13px;
    background-color: var(--main-background);
    height: 100%;
    color: var(--text-primary);
}

.main {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.topSideMenu {
    display: flex;
    margin-top: 13px;
    margin-bottom: 13px;
}

.topSideMenu svg {
    width: 1pc;
    height: 1pc;
    cursor: pointer;
}

#newFile {
    margin-left: auto;
    margin-right: 10px;
}

#newFolder {
    margin-left: 0px;
    margin-right: 10px;
}

#uploadFile{
    margin-right: 10px;
    cursor: pointer;
    margin-top: 1px;
    height: 14px;
}
#uploadFolderIcon{
    /*margin-right: 20px;*/
}

.topSideMenu p {
    margin: 0px;
    margin-right: 20px;
}

#mainContent {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    transition: width 0.3s ease;
}

#preview {
    /*width: 622.5px;*/
    width: 100%;
    /*height: 277.5px;*/
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: 0px;
}

.MainRightThird {
    width: 100%;
}

.previewParent {
    width: auto;
    height: 277.5px;
    padding: 20px;
    border: 1px solid var(--border);
    border-top: 0px;
    border-bottom-left-radius: 4px;
}

#terminal {
    min-height: fit-content;
    padding-bottom: 20px;
}

.terminal {
    height: calc(100% - 365.5px);
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--border);
    border-top-left-radius: 4px;
}

.terminalScroller {
    height: calc(100% - 20px);
    overflow-y: scroll;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.terminalLine {
    display: flex;
    border: 1px solid var(--linedown-color);
    border-left: 2px solid var(--linedown-color);
    border-right: 2px solid var(--linedown-color);
    padding-left: 25px;
}

.terminalLine.error {
    background-color: var(--terminal-error);
    border: 1px solid var(--terminal-error-border);
    border-left: 2px solid var(--terminal-error-border);
    border-right: 2px solid var(--terminal-error-border);
    padding-left: 3px;
}

.terminalLine.error svg {
    height: 1pc;
    margin-top: 3px;
    margin-right: 5px;
    fill: var(--terminal-error-icon);
}

.terminalLine.warning {
    background-color: var(--terminal-warning);
    border: 1px solid var(--terminal-warning-border);
    border-left: 2px solid var(--terminal-warning-border);
    border-right: 2px solid var(--terminal-warning-border);
    padding-left: 3px;
}

.terminalLine.warning svg {
    height: 1pc;
    margin-top: 3px;
    margin-right: 5px;
    fill: var(--terminal-warning-icon);
}

.terminalLine.info {
    padding-left: 3px;
}

.terminalLine.info svg {
    height: 1pc;
    margin-top: 3px;
    margin-right: 5px;
}

#terminal .terminalLine:first-child {
    border-top: 2px solid var(--linedown-color);
}

#terminal .terminalLine:last-child {
    border-bottom: 2px solid var(--linedown-color);
}

#terminal .terminalLine.error:first-child {
    border-top: 2px solid var(--terminal-error-border);
}

#terminal .terminalLine.error:last-child {
    border-bottom: 2px solid var(--terminal-error-border);
}

#terminal .terminalLine.warning:first-child {
    border-top: 2px solid var(--terminal-warning-border);
}

#terminal .terminalLine.warning:last-child {
    border-bottom: 2px solid var(--terminal-warning-border);
}


.terminalLine p:first-child {
    max-width: 450px;
    overflow-wrap: break-word;
}

.terminalLine p {
    margin: 2px;
}

.terminalLine p:last-child {
    margin-left: auto;
    margin-right: 20px;
}

.terminalHead {
    font-size: 17px;
    margin-left: 20px;
    margin-top: 0px;
}

.mainEditableContent {
    display: flex;
    height: calc(100% - 38px);
    ;
}

.monaco-editor .scrollbar.vertical {
    background-color: var(--main-background);
    opacity: 1 !important;
}

.monaco-editor .scrollbar.vertical.invisible .slider {
    opacity: 0 !important;
    transition: opacity .8s linear;
}

.MainRightThirdParent {
    display: flex;
    background-color: var(--main-background);
    transition: width 0.3s ease, min-width 0.3s ease, max-width 0.3s ease;
    border-left: 1px solid var(--border);
}

#RightSideResize {
    height: 100%;
    min-width: 5px;
    background-color: var(--main-background-border);
    z-index: 100;
}

#RightSideResize:hover {
    cursor: ew-resize;
    background-color: var(--selectedItemBorder);
}

#TopSideResize {
    width: 100%;
    min-height: 5px;
    background-color: var(--main-background-border);
    z-index: 100;
}

#TopSideResize:hover {
    cursor: ns-resize;
    background-color: var(--selectedItemBorder);
}

.terminalOptions {
    display: flex;
}

.terminalOptions svg {
    width: 1pc;
    height: 1pc;
    margin-right: 5px;
}

.errorIcon {
    fill: var(--terminal-error-icon);
    margin-left: auto;
}

.warningIcon {
    fill: var(--terminal-warning-icon);
}

#errorNumber {
    color: var(--terminal-error-icon);
}

#warningNumber {
    color: var(--terminal-warning-icon);
}

#clearTerminal {
    cursor: pointer;
}

#persistlogs {
    height: fit-content;
    padding: 5px;
    position: relative;
    top: -5px;
    border-radius: 3px;
    margin-left: 0px;
    margin-right: 20px;
    cursor: pointer;
}

#persistlogs:hover {
    background-color: var(--text-primary);
    color: var(--main-background);
    opacity: .5;
}

#persistlogs.active {
    background-color: var(--text-primary);
    color: var(--main-background);
    opacity: .5;
}

.terminalOptions p {
    margin-top: 0px;
    margin-right: 5px;
}

.terminalOptions p:last-child {
    margin-right: 20px;
}