* {
    --text-primary: #a7a7a7;
    --text-primary-selected: #fff;
    --main-background: #1f1f1f;
    --main-background-border: #181818;
    --main-hover: #a8a8a822;
    --border-selected: #145282;
    --border: #242424;
    --linedown-color: #585858;
    --selectedItem: #03395e;
    --selectedItemBorder: #036cbc;
}

.swal2-popup.swal2-toast {
    box-shadow: 0 0 0.625em var(--main-background-border) !important;
}

body {
    margin: 0px;
    font-family: Roboto;
    font-size: 13px;
    background-color: var(--main-background);
    height: 100%;
    color: var(--text-primary);
    overflow: hidden;
}

.main {
    display: flex;
    height: 100%;
}

.topSideMenu {
    display: flex;
    margin-top: 13px;
    margin-bottom: 13px;
}

.topSideMenu svg {
    width: 1pc;
    height: 1pc;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.topSideMenu p {
    margin: 0px;
    margin-right: 20px;
}

#mainContent{
    width: 100%;
    height: calc(100% - 38px);
    padding-top: 25px;
}